@tailwind base;
@tailwind components;
@tailwind utilities;

/* music player styles */
.rhap_progress-indicator {
  background: rgb(243, 38, 38) !important;
}
.rhap_progress-filled {
  background: rgb(243, 38, 38) !important;
}
.rhap_play-pause-button svg {
  color: rgb(243, 38, 38) !important;
}
.rhap_volume-bar {
  background: rgb(247, 118, 118) !important;
}
.rhap_volume-indicator {
  background: rgb(243, 38, 38) !important;
}

/* btn styles */
.alt-color-black {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.tp-btn-blue {
  color: white;
  /* height: 45px; */
  line-height: 45px;
  border-radius: 30px;
  /* padding: 0 35px; */
  padding: 0 120px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  transition: color 0.5s ease;
  transition-duration: 0.4s;
}
.tp-btn-blue:hover {
  color: white;
  transition-duration: 0.5s;
}
.tp-btn-hover.alt-color-black b {
  background-color: #fd3658;
}
.tp-btn-hover:hover b {
  width: 400px;
  height: 400px;
  display: inline-block;
}
.tp-btn-hover b {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #000229;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  z-index: 1;
}
.tp-btn-blue:hover span.white-text {
  color: white;
}
.tp-btn-blue span {
  position: relative;
  z-index: 5;
  transition: 0.5s;
  transition-delay: 0.1s;
}
